@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2>Consulta de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>1990-05-12</td>
                <td>Masculino</td>
                <td>
                    <a href="#" class="btn btn-info">Modificar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>María González</td>
                <td>1988-10-20</td>
                <td>Femenino</td>
                <td>
                    <a href="#" class="btn btn-info">Modificar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            <!-- Aquí irían más filas con datos de usuarios -->
        </tbody>
    </table>
</div>
